/* Cards */

.results-section {
    /* 
    display: flex;
    flex-wrap: wrap;
     */
    width: 1296px;
    display: grid;
    /* justify-content: center; */
    padding: 0;
    /* margin: 0; */
    
}

.cards {

/*     display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    justify-items: center; 
 */
 padding: 0;
 
 
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 40px 6%;

/*  display: flex;
 flex-wrap: wrap;
 */

 @media screen and (max-width: 1400px) {
     grid-template-columns: repeat(2, 1fr)
 }
 @media screen and (max-width: 768px) {
     grid-template-columns: repeat(1, 1fr)
 }
}
.card {
    width: 380px;
    height: 364px;
    /* margin: 25px; */
    justify-content: space-between;
    
}
.card-header {
    height: 178px;
    background-color: #C7BEBE;
    border-radius: 5px 5px 0 0;
}
.card-body {
    height: 186px;
    border-radius: 0 0 5px 5px; 
    padding: 10px;
    margin: 0;
    background-color: #E7E7E7;
}
.card-body-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.time{
    font-weight: 500;
}
.bi-clock {
    font-size: 20px;
}
.card-body-bottom {
    display: flex;
    justify-content: space-between;
}
.recipe-ingredients {
    max-width: 171px; // 171px
    font-size: 11px;
    padding: 2px;
    //display: flex;
}
.ingredient-quantity-unit {
    font-size: 11px;
    list-style-type: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.recipe-text {
    max-width: 171px; // 171px
    max-height: 109px;

    overflow: hidden;
    //white-space: nowrap; // ne fonctionne que sur une seule ligne ; manquent les ... 
    text-overflow: ellipsis;

    font-size: x-small;
    padding: 2px;
}