/* Search */

.search-section {
    border: solid red;

    width: 90%; 
    margin: 0 auto;
}

.search-field {
    display: flex;
    justify-content: space-between;
}
.search-field input {
    border: none; 
    width: 100%;
    outline: none;
}