/* LISTBOX */

.listboxs-section {
    padding: 20px 0;
    /* margin: 0 25px; */
    width: 90%;
    margin: 0 auto;
}

.listboxs {
    display: flex;
    padding: 0;
    @media screen and (max-width: 1200px) {
        border: solid red;
        flex-wrap: wrap;
        justify-content: center; }
}


.listbox {
    flex-wrap: wrap;
    margin: 20px 20px 0 0;
    border-radius: $radius;
    overflow: hidden;
    min-width: 170px; /* 170px */
    @media screen and (max-width: 1400px) {
            max-width: 400px; }
    @media screen and (max-width: 1000px) {
            max-width: 200px; }
}



.listbox-controls {
    display: flex;
    justify-content: space-between;
    border-radius: $radius; // 
    cursor: pointer;
}

.listbox-btn {
    padding-right: 15px;
    height: 60px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    font-size: 18px;
    position: relative;
    border-radius: $radius; 
    cursor: pointer;
    background-color: transparent;
}

.listbox-input {
    border: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    outline: none;
    padding: 0 15px;
    height: 70px;
    width: min-content;
    background-color: transparent;
}

.listbox-input::placeholder {
    color: white;
    opacity: 1;
}

.listbox-input.expanded::placeholder {
    opacity: .5;
}

.listbox-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 10px;
    line-height: 1em;
    max-height: 12em;
    color: white;
    font-size: 18px;
    padding: 20px;
    margin-top: -7px; // 
    border-radius: 0 0 $radius $radius;
    overflow-y: scroll;
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, .1);
    scrollbar-width: thin;
    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr); }
    @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(1, 1fr); }
}



.listbox-list li {
    cursor: pointer;
    list-style: none;
}


#ingredients-controls {
    background-color: $blue;
}

#appliances-controls {
    background-color: $green; 
}

#ustensils-controls {
    background-color: $red; 
}

#ingredients-list {
    background-color: $blue; 
}

#appliances-list {
    background-color: $green; 
}

#ustensils-list {
    background-color: $red; 
}

.hidden {
    display: none;
}

.show {
    border-radius: $radius;
}