/* BASE  */

/* Header */ 
.logo-vector {
    text-align: center;
}
.logo-text {
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
}

body {
    border: solid green;

    margin: 0;
    padding: 0;
}

main {
    border: solid blue;

    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0;
}

/* Mods */ 
.hidden {
    display: none;
}