/* BASE  */

/* Header */ 
.logo-vector {
    text-align: center;
}
.logo-text {
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;
}

/* Mods */ 
.hidden {
    display: none;
}